.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.sidebar-hidden .navbar {
    display: none;
}

.content {
    flex-grow: 1;
    padding: 60px 20px 20px; /* Added top padding to accommodate the fixed navbar */
    margin-left: 200px; /* Adjust based on sidebar width */
}

.footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}
